body {
    padding-top: 80px;
    font-family: 'Raleway', sans-serif !important;
}

.em-text{
    color:#1caa98 !important;
    font-weight: bold !important;

}

.jumbotron{
    min-height:500px;
    background-color: #ffffff;
}


.jumbotron h1{
    font-size:40px;
    padding-right: 100px;
    padding-left: 100px;
    color:#47525d!important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300;
    text-transform: capitalize;
}

/*h1{*/
    /*font-size: 40 px !important;*/
    /*color:#47525d!important;*/
    /*font-family: 'Raleway', sans-serif !important;*/
    /*font-weight: 300;*/
    /*text-transform: capitalize;*/


/*}*/


.navbar {
    min-height: 80px;
    margin:0;
    background-color: #ffffff;
}

.navbar li{
    padding:10px !important;
}

.dropdown-menu .divider {
    background-color: #1caa98;
}

.navbar-nav{
    margin:0px;
    padding:0px;

}

.btn-lg{
    color: #ffffff;
    background-color: #E25065;
    border-color:#E25065 ;
    width: 280px;
    -webkit-transition: background-color 0.5s ease-out;
    text-decoration: none;
    -webkit-font-smoothing: antialiased !Important;
    font-weight: 700;
    letter-spacing: 1px;
    padding:12 50 12 500 px !important;
}

.btn-lg:hover {
    color: #fff;
    background-color: #b24252;
    border-color: #b24252;
}

.h2{
    font-size: 500px !important;
    font-weight: 300!important;
    color: #616d77!important;
    padding-bottom: 5px !important;
    text-transform: none!important;
}