body {
    padding-top: 80px;
    font-family: 'Raleway', sans-serif !important;
}

::selection {
    background: #5097bc; /* WebKit/Blink Browsers */
    color: #ffffff;
}
.jumbotron{
    min-height:500px;
    background-color: #ffffff;
}


.jumbotron h1{
    font-size:40px;
    padding-right: 100px;
    padding-left: 100px;
    color:#47525d!important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300;
    text-transform: capitalize;
}

/*h1{*/
    /*font-size: 40 px !important;*/
    /*color:#47525d!important;*/
    /*font-family: 'Raleway', sans-serif !important;*/
    /*font-weight: 300;*/
    /*text-transform: capitalize;*/


/*}*/


.navbar {
    min-height: 80px;
    margin:0;
    background-color: #ffffff;
}

.navbar li{
    padding:10px !important;
}

.dropdown-menu .divider {
    background-color: #1caa98;
}

.navbar-nav{
    margin:0px;
    padding:0px;

}

.btn-lg{
    color: #ffffff;
    background-color: #E25065;
    border-color:#E25065 ;
    width: 280px;
    -webkit-transition: background-color 0.5s ease-out;
    text-decoration: none;
    -webkit-font-smoothing: antialiased !Important;
    font-weight: 700;
    letter-spacing: 1px;
    padding:12 50 12 500 px !important;
}

.btn-lg:hover {
    color: #fff;
    background-color: #b24252;
    border-color: #b24252;
}

.h2{
    font-size: 500px !important;
    font-weight: 300!important;
    color: #616d77!important;
    padding-bottom: 5px !important;
    text-transform: none!important;
}

.footer_top {
    background: #edeff1 url(Footertopbg.png) repeat-x scroll center top;
    padding-top: 140px;
    padding-bottom: 33px;
}


.a.qbutton.small {
    background: transparent url(read-more.png) no-repeat scroll 0 0 !important;
    border: medium none !important;
    font-size: 0;
    height: 27px;
    padding: 0;
    width: 108px;
}

.footer_bottom_holder{
    background:#88959F;
    color:#B6C9D4;
}

.footer_bottom {
    color: #bac9d3 !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    padding: 20 20 20 20px;
    height: 46px;
}

.container-outer{
    color: #818181 !important;
}
